{% extends 'base.html' %}


{% block body %}
<h3>Home</h3>
<p>
These were the previous messages:
<br/>
{% for key, value in saved_data.items() %}
    {{ key }}: {{ value }}
    <br/>
{% endfor %}
</p>
<ul>
    <li><a href="/subscribe">Subscribe</a></li>
    <li><a href="/publish">Publish</a></li>
</ul>
{% endblock %}
