{% extends 'base.html' %}


{% block body %}
<h3>Publish</h3>
<form method='post' action='/publish_post/' name='publish'>
    <input type='text' name='topic' size='16' maxlength='20'/>
    <br/>
    <input type='text' name='content' size='160' maxlength='200'/>
    <br/>
    <button type='submit'>Save</button>
</form>
{% endblock %}
