{% extends 'base.html' %}


{% block body %}
<h3>Subscribe</h3>
<form method='post' action='/subscribe_post/' name='subscribe'>
    <input type='text' name='topic' size='16' maxlength='20'/>
    <br/>
    <button type='submit'>Save</button>
</form>
{% endblock %}
